[2013-12-20 04:50] NorthWindH opened #1 "Ability/move/type/etc... by name"
Hi there! Just want to say that this is an awesome project and I'm glad it exists. Now then, I've noticed that individual pokemon are fetchable by name while moves/types/etc... are not. Mind if I add that in then pull request it?

Cheers.

Edit: Just realized that this is an issue for the site, not for the python api. Now I can't help :/

[2013-12-20 10:13] #1 closed, assigned to nobody

[2014-04-06 19:16] ConorNevin opened #2 "Resistances missing"
Trying to use the API to write a tool, and I noticed that the resistances for types seem to be missing from the Type API calls

[2015-01-05 09:04] CptnBrittish opened #4 "Wrong Sprite Found"
When using the national_id to find the sprite of a pokemon (also encountered when using the resource uri with only the numbers used) the correct sprite for a pokemon is not always presented.

How to replicate:
- Search for spearow (national_id 21)
- Use national_id as resource for sprite
- Sprite presented is a Raticate

This happens for various pokemon not just spearow

[2015-01-05 09:10] phalt commented on #4
You don't use the national ID to identify a sprite. The sprite resource are
auto-generated, they might not match up and they're not intended to either.

The best way to get the correct sprite, is to search for a Pokemon and then
get the sprite resource links from that resource. Check the docs for more
details.
On Mon, 5 Jan 2015 at 09:04 Thomas Atkinson <notifications@github.com>
wrote:

[2015-01-05 09:15] CptnBrittish commented on #4
Ahh I see now. I am sorry I normally check how to link stuff up by checking the pokeapi docs which seem more complete and that does not have a sprite resource and googling found that to be the way todo it.
Thank you for your quick responce

[2015-01-05 09:15] #4 closed

[2015-09-24 20:54] robmuh opened #5 "Python 3 Support?"
Just wondering before I fork and make a Python 3 compatible version to use in our school. (We don't/won't teach old Python.)

[2015-09-24 23:47] Shad0wShayd3 commented on #5
There actually is a Python 3 compatible version already available here: <https://github.com/CptnBrittish/pykemon>

[2015-12-21 15:50] kasarov55555 opened #6 "Needs More Documentation"
I can not figure out how to get basic stats(hp, speed, attack, special attack).
I would be very helpful if some more examples were added to the documentation.
I would be even more helpful if the documentation explained how (pykemon.get(example)) relates to <a href=pokeapi.co/docs>The Pokeapi Documentation</a>.

[2015-12-21 16:04] kasarov55555 commented on #5
https://github.com/CptnBrittish/pykemon
Does NOT support Python 3(It tries to import modules that have been merged in Python 3, this can be fixed by using find and replace to rename to new merged module).

[2015-12-21 16:11] #6 closed

[2015-12-21 22:07] ghost opened #7 "Certain calls do not work."
I am using CptnBrittish/pykemon forked.

import pykemon
p = pykemon.get(pokemon='charizard')
print ('exp: ' + str(p.national_id))
# AttributeError: 'Pokemon' object has no attribute 'national_id'

print ('exp: ' + str(p.male_femal_ratio))
# AttributeError: 'Pokemon' object has no attribute 'male_femal_ratio'

So national_id and male_femal_ratio do not work.
I need national_id for my program to wor

[2015-12-22 16:36] Anthony4444 opened #8 "Installing Through Import with Python3"
Put Pykemon in same folder as myprogram.py
myprogram.py says
import pykemon
I get an error when running.

[2016-04-14 03:31] Redjumpman opened #10 "No module found"
So I'm trying to create a cog for the bot that is a pokedex. I'm using the pokeapi with a wrapper. The problem is that when it attempts to load the cog it says No module named 'API'. API is one of the modules for the wrapper, and it is indeed in my site packages folder. The wrapper interacts fine with the api when I run tests outside of the bot and discord. Any insight on where I'm going wrong?

[2016-04-14 03:46] #10 closed

[2016-04-14 17:50] Redjumpman commented on #5
@Anthony4444 can you explain what you mean by using find and replace to rename to new merged module? Do you mean merging all the pykemon modules and using find and replace to fix the calling of  all the classes?

[2016-04-15 09:19] phalt commented on #5
@robmuh happy to accept a Pull Request that makes this support Py2 and Py3, instead of doing a fork!

[2016-04-15 19:21] robmuh commented on #5
Perhaps eventually. Love what you guys are doing but for our purposes we decided to go with a local [FADB database](http://github.com/fadb/pokemon) for our kids programming and introducing data science concepts. Yours is still the best API to introduce the idea of APIs when one is needed.

[2016-06-11 14:49] phalt opened #14 "V2 support"
Now that we're using [Beckett](https://phalt.github.io/beckett) for V1, we should set it up for the V2 API as well. Given that it's quite easy to use, this can be a fairly easy task!

[2018-03-10 04:05] #8 closed

[2018-09-09 08:02] tdmalone opened #17 "Notice - PokeAPI is looking for help maintaining"
Please see https://github.com/PokeAPI/pokeapi/issues/350#issuecomment-419698139 if you are interested in maintaining this repository. Thanks!

[2018-10-20 20:31] tdmalone commented on #17
Apologies for the delay in getting back to you @kronopt!

I’m on mobile at the moment but have set myself a reminder for when I’m back at my computer - I will add you as a maintainer and add you to the PokeAPI organisation (if someone else doesn’t get to it before me :))

[2018-10-31 09:06] Kronopt commented on #5
This can be closed

[2018-10-31 09:09] Kronopt commented on #2
Not relevant to this repo.
Pykemon is a wrapper for Pokeapi.co, issues related to it should be opened on [pokeapi](https://github.com/PokeAPI/pokeapi)

This can be closed

[2018-10-31 09:11] Kronopt commented on #2
This should work as of the implementation of pokeapi v2.
This can be closed

[2018-10-31 09:12] Kronopt commented on #7
Works correctly as of pokeapi v2 implementation.
This can be closed

[2018-10-31 09:12] Kronopt commented on #14
This can be closed

[2018-11-02 07:39] #7 closed

[2018-11-02 07:39] #14 closed

[2018-11-02 07:39] #2 closed

[2018-11-02 07:39] #5 closed

[2019-01-15 14:23] bsushmith opened #20 "pip install pykemon returns the v1client"
Discrepancy between the readme and the pykemon version downloaded through pip
[code]

[2019-01-15 17:31] Kronopt commented on #20
We have previously discussed asking @phalt for the pypi credentials in pull request #18 [here](https://github.com/PokeAPI/pykemon/pull/18#issuecomment-430535419), but that has not happened yet.

[2019-01-15 18:48] Naramsim commented on #20
Maybe we could suggest in the readme to install from Github

[code]

I haven't tested it.

[2019-01-15 20:47] Kronopt commented on #20
Yeah, it should work, as per the [pip readme](https://pip.pypa.io/en/stable/reference/pip_install/#git).

However, it would be better if the pypi package could be updated.
Is @phalt could help us out, that would be awesome.

We could also fork this into a completely new project, and get a new pypi page and all that

[2019-01-16 08:47] Naramsim commented on #20
It is better to create a new Pypi project. @phalt cannot give us his account since it has other packages there.

Maybe we can decide a new name too, instead of simply calling it `pykemon2`... (which is not a bad idea, anyway)

[2019-01-16 08:47] #17 closed

[2019-01-17 00:55] Kronopt commented on #20
Another thing I can't update without login credentials...

We will now discuss the forking of this project so that we can have control over things like the pypi and documentation pages.

I'll open another issue for this

[2019-01-17 01:06] Kronopt opened #21 "pykemon fork"
As mentioned in #20, we should fork pykemon so that we can have control over many aspects of the project only @phalt can, like pypi and readthedocs pages.

We should also give a new name to the project, like `pykemon2`, `pokeapi-py-wrapper`, `pypokeapi`, `pypoke`, or something along these lines.

@Naramsim, @tdmalone

[2019-01-17 01:07] Kronopt commented on #17
I will.
I'll just finish the cache implementation I've been working on and will submit it once it's done.

[2019-01-17 01:08] tdmalone commented on #21
Hi @Kronopt, is a fork necessary? @Naramsim and I now have access to most things @phalt set up, if there is additional stuff we forgot to ask him for can you list it in https://github.com/PokeAPI/pokeapi/wiki/PokeAPI-tools-&-accounts? I can then follow up with him by e-mail and get the access we need, and pass the relevant stuff along to you.

[2019-01-17 01:16] Kronopt commented on #21
The only problems I have is not being able to update the **pypi page** and the **readthedocs documentation** page.
I could create new ones but with different names. That's one of the reasons for the fork.

For the pypi page, I don't know if it is possible to transfer it between accounts. One thing that I think could be done is for the page to be deleted and a new one created by an account controll

[2019-01-17 07:53] Naramsim commented on #21
I wasn't thinking about forking Pykemon. We can still use this Github repo. I was just suggesting to create a new entry in Pypi and upload there the Pykemon package.

[2019-01-17 16:14] Kronopt commented on #21
My bad.
But still, the name of the Github repo would still be different from the pypi page.

[2019-01-17 19:17] tdmalone commented on #21
We can rename the Github repo if that's the easiest solution?

[2019-01-18 08:12] Naramsim commented on #21
The easiest would be `Pykemon2`.

@Kronopt, list your options since you are the maintainer 😄

[2019-01-18 14:09] Kronopt commented on #21
Of the names myself and @Naramsim suggested:
* `pykemon2`
* `pokeapi-py-wrapper`
* `pypokeapi`
* `pypoke`
* `pokepy`

Of these, i prefer `pokepy`

[2019-01-18 22:48] Kronopt commented on #21
Ok. I'll update the README soon.
As for the Pypi account, please inform me when you have one.
As for the docs, do enable the github pages!

[2019-01-19 01:46] Kronopt commented on #21
You mean, having the documentation on a different branch altogether? Why not have it on the /docs folder in the master branch?

[2019-01-20 18:07] Naramsim commented on #21
What's your username on Pypi? @Kronopt @tdmalone

[2019-01-20 19:01] Kronopt commented on #21
[Kronopt](https://pypi.org/user/Kronopt/) (just created it)

[2019-01-20 19:44] Naramsim commented on #21
I added you as a maintainer :smile:

You should be able to push new versions.

I already pushed this version. I also changed the readme and refactored the project with the new name.

I noticed that I cannot generate the docs on Windows. Can you take a look on that? If they generate well on your machine you can deploy them with the `npm` script that I#ve added. Take a look at the new `package.json`

[2019-01-20 19:47] Naramsim commented on #21
@Kronopt feel free to decide for a pokemon and put it in the readme 😃

Similarly to what we have done in:

- https://img.shields.io/pypi/pyversions/pokepy.svg
- https://github.com/PokeAPI/pokeapi-js-wrapper

[2019-01-20 19:54] Kronopt commented on #21
Nice!

I had already done that, I just haven't pushed my fork to the pokeAPI/pokepy repo yet...

I'll see what I can do

Ok!

[2019-01-22 01:31] Kronopt opened #26 "Tests for Cache implementation"

[2019-01-22 01:36] Kronopt commented on #20
@bsushmith, you put this whole thing on motion! 😅
You can now get pokepy 0.4.0 through pip:

[code]

Version 0.5.0, which allows caching, still needs further testing and won't be uploaded for now.
I'm sorry in advance for the documentation mentioning the caching feature already.

[2019-01-22 01:36] #20 closed

[2019-01-22 01:37] Kronopt commented on #21
@Naramsim, I just need you to set the gh-pages branch as the source for the documentation.
And please, take a look at it, if you will 😃

[2019-01-22 01:37] #21 closed

[2019-01-22 03:59] tdmalone commented on #20
@kronopt I assume you meant pokepy in the pip command above?

[2019-01-22 07:59] Naramsim commented on #21
http://pokeapi.github.io/pokepy/

[2019-01-22 10:17] Kronopt commented on #20
Yeah, sorry!

[2019-01-29 03:05] Kronopt opened #27 "gh-pages not recreating site"
I updated the documentation page on the `gh-pages` branch a couple of hours ago and the site is returning a 404 error.

I forked this to my account to check what the problem was.
I fixed it by changing the page source from `gh-pages` to `master` and back to `gh-pages`... I don't know why that works though...

I would do it myself, but I don't have access to the repo settings.

Can you do it, @Nara

[2019-02-03 04:18] #26 closed

[2019-02-06 09:02] lianne-hufkens opened #31 "Cache enabled clients produce error"
Following the example code for caching as described in the docs produces an typeError.

Both `client_mem_cache = pokepy.V2Client(cache='in_memory')` and `client_disk_cache = pokepy.V2Client(cache='in_disk', cache_location='/temp')` lead to:
[code]
The regular `client = pokepy.V2Client()` works just fine. Python version is 3.6.4, OS Windows 10.

[2019-02-06 10:18] Kronopt commented on #31
I'm assuming you have version `0.4.0` from pypi.
Caching is only available on version `0.5.0`, which is still not on pypi (I'm still testing it out).

That's my bad for having already described the feature on the docs.

It will be out until the end of the week.
If you don't want to wait you can install it from github with the following command:
[code]

[2019-02-06 12:14] lianne-hufkens commented on #31
Thanks, I'll close the issue then.

[2019-02-06 12:14] #31 closed

[2019-02-09 02:33] Kronopt commented on #31
@lianne-hufkens pykemon version 0.5.0 is now live.
You can now install it "normally":
[code]

[2019-02-12 10:36] Kronopt opened #32 "Clear all cache method for V2Client"

[2019-02-12 10:37] Kronopt opened #33 "Total cache info method for V2Client"

[2019-02-16 18:13] Kronopt commented on #32
Done in #34

[2019-02-16 18:13] #32 closed

[2019-02-16 18:13] Kronopt commented on #33
Done in #34

[2019-02-16 18:13] #33 closed

[2019-03-01 09:22] jachymb opened #35 "a typo"
There is

                'pokemon_encounters:': PokemonEncounterSubResource

clearly the one colon should not be there.
https://github.com/PokeAPI/pokepy/blob/master/pokepy/resources_v2.py#L1748

[2019-03-01 18:10] Kronopt commented on #35
Thank you for reporting!

I'll release the fixed version in the next couple of hours

[2019-03-01 23:33] #35 closed

[2019-03-05 17:52] lflimeira opened #36 "get_pokemon() should not return a list."
First of all, greate job doing this wrapper. =)

When calling the get_pokemon() method, it should return the Pokemon object instead of a list of Pokemon objects, because it must never return more then one pokemon.

Example:
[code]
It's returnin `[<Pokemon - Kakuna>]` and sould return `<Pokemon - Kakuna>` instead.

[2019-03-05 18:07] lflimeira opened #37 "Create get_pokemons() method."
The PokeAPI allows getting a list of Pokemons with pagination, we could include this functionality in to the wrapper and allows to get a list of Pokemon objects and pass not required pagination arguments.

Example:
`def get_pokemons(offset=0, limit=20):`

It will return:

[code]

[2019-03-05 18:12] lflimeira commented on #36
If you allow me, I would like to solve this issue. Could you assign me?

[2019-03-05 19:24] Kronopt commented on #37
I've been thinking about adding support for pagination.
I might eventually.
When I do, it will cover every available resource, not just pokemon.

[2019-03-05 19:30] Kronopt commented on #36
Hey, thanks! :)

Yeah, that happens with other resources as well because that's the default behaviour of the beckett module.
It shouldn't be hard to implement. You just have to understand the beckett code.

Feel free to try it!
If you have any problems or questions leave a comment on this issue

[2019-03-05 19:32] Kronopt commented on #36
I can't assign you...
But that's ok.
You can do it regardless

[2019-03-08 12:35] lflimeira commented on #36
Thank you so much for your answer.

I'll see what I can do and as sun as possible I put some updates here. =)

[2019-03-08 12:45] lflimeira commented on #37
Good, so I'm going to create pagination issues for the others resources as well, this way, everybody who wants to help can based on those issues too. What do you think about it?

[2019-03-08 14:14] Kronopt commented on #37
I think a general pagination issue would be better.
But yeah, feel free to open it, yes!
You can also try to implement this feature yourself, if you think you can do it!

As per the pokeapi docs:

So, it should be easy to implement the calling of any `V2Client.get_` method without any parameters.
Then implement the `limit` and `offset` parameters.

[2019-04-30 21:57] #36 closed

[2019-06-27 13:54] TomasRoj opened #40 "Features"
Are there some features waiting to implement?

[2019-06-27 17:16] Kronopt commented on #40
You can read #37, about implementing pagination support.
Other than that, if you get any ideas, open an issue so that we can discuss it

[2019-06-27 17:47] TomasRoj commented on #40
Thanks, I will look at that

[2019-06-27 17:47] #40 closed

[2019-08-15 20:59] Kronopt opened #41 "Conda Package"
Setup Pokepy as a [conda](https://anaconda.org/) package

[2019-08-15 21:08] Kronopt commented on #41
I tried to do it.
Built a [conda recipe](https://docs.conda.io/projects/conda-build/en/latest/user-guide/recipes/build-without-recipe.html) and all.
But when I tried to build the package (using conda-build) it failed because it couldn't satisfy some dependencies (beckett and fcache) because they are not conda packages themselves.
This would require these dependencies to be built as conda packages

[2019-08-24 16:11] Kronopt opened #42 "Implement Hypermedia resources"

[2019-08-24 16:12] Kronopt opened #43 "Review tests"
Maybe test with more complex json responses or even use real responses

[2019-11-19 19:08] GeoffreyFrogeye opened #46 "Some species returns a 404 when it should not"
An example is better than a thousands words: `client.get_pokemon_species('leafeon')` fails.

[code]

Just for reference:

[code]

(I couldn't find other examples where it was failing)

At first glance the problem seems that the API have an inconsistent behavior regarding trailing slashes. When can reproduce the same behavior with another browser that does such as `curl` that does not automatically

[2019-11-19 21:00] Kronopt commented on #46
I can't reproduce your issue.
I tried `leafeon` as well as other pokemons (with and without trailing slashes) and I'm not getting a 404 error.

What python version are you using? And which pokepy version? Are you running pokepy within a virtual environment or alongside other projects?

[2019-11-19 22:01] GeoffreyFrogeye commented on #46
I just tried again and I can't reproduce this again anymore, even though I did not change anything.

Even `curl https://pokeapi.co:443/api/v2/pokemon/leafeon` will now output the correct result where it would 404 earlier. Also I noticed that the API is way faster than before (4-5 requests per seconds rather than 1 request per second earlier). Can it be a caching thing? I noticed the API runs on Cl

[2019-11-19 23:09] Kronopt commented on #46
Definitely weird.
Try opening an issue on the pokeapi repo.

I'll close this as it seems to be solved.

[2019-11-19 23:09] #46 closed

[2019-12-22 21:12] gabejchambers opened #49 "Error on run of readMe example code"
When using
`pokepy.V2Client()`
There is not the functions available listed in readMe or linked documentation. Cannot call
`get_pokemon()` or `get_ability()` etc.

when run `print(dir(pokepy.V2Client()))` it DOES show access to get_pokemon(), etc. However, running `pokepy.V2Client().get_pokemon(14)` will cause program to run until force close, and IDE says "Instance of 'V2Client' has no 'get_pokemo

[2019-12-23 03:10] Kronopt commented on #49
Hi, gabejchambers.

I can't reproduce your problem.
Can you tell me your system, python version, installed python packages and IDE?

[2020-01-17 16:48] robkruger opened #50 "How to save do I save APIMetadata to a file?"
Is it possible to save APIMetadata to a file? I'm trying to do this because it takes an incredibly long time to fetch the results, even with caching.
This is my code:
[code]

[2020-01-17 16:50] #50 closed

[2020-03-11 23:31] bladeoflight16 opened #52 "Dependency resolution error"
Using a clean venv, I get a dependency conflict between beckett and pokepy for the requests package:

[code]

It still installs, and I don't know whether it actually causes any problems. But still should be addressed.

[2020-03-12 01:37] Kronopt commented on #52
Hi, bladeoflight16.
I bumped the `requests `version to 2.21 because of [this vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2018-18074) with version <=1.20.

You can rest assured that it causes no problems as I have tested pokepy with these requirements and it works as intended.
I know it looks bad on the install to have an error like that, but I can't do anything for now...

I'll keep this o

[2020-03-12 08:40] Naramsim commented on #52
By bumping Beckett's `requests` would the issue be resolved?

[2020-03-12 09:31] Kronopt commented on #52
Yes.
I haven't tested `beckett` with a different `requests` version though.

[2020-03-12 14:52] Naramsim commented on #52
We could send a PR there and check if the tests are passing

[2020-03-12 21:39] Kronopt commented on #52
Yes, we could.
I just don't think @phalt is interested in maintaining `beckett` anymore, as I've left some unanswered issues and a PR's there over the years.
So I don't think it's worth it if the PR is going to be left unanswered.

If it's just to check whether `beckett` would work with `requests` 2.21 for the sake of `pokepy`'s functionality, I don't think it's necessary, as the `pokepy` tests co

[2020-03-16 03:01] phalt commented on #52
I am no longer actively working on Beckett :)

[2020-03-16 13:48] bladeoflight16 commented on #52
@phalt Be that as it may, requests [uses semantic versioning](https://2.python-requests.org/en/master/dev/philosophy/#semantic-versioning). This means that Beckett should be able to depend on any 2.x version of it without worrying about breaking compatibility. Would you consider a small update to loosen the versioning requirement?

[2020-03-16 21:30] phalt commented on #52
@bladeoflight16 when I get some free time I will try and make a release.

[2020-03-16 21:30] phalt commented on #52
Alternatively, feel free to make a pull request!

[2020-05-15 12:13] leonardohra opened #53 "How to access `location_area_encounters`"
In the documentation I'd have to make a request to "https://pokeapi.co/api/v2/pokemon/ID/encounters"
If I use the client:
c = client.get_pokemon(10)
c.location_area_encounters

Shows me the url for the request ('https://pokeapi.co/api/v2/pokemon/10/encounters') but there's no method to access it. I didn't find other methods in the client related to that. I just wanted to be sure that the library d

[2020-05-15 13:15] Naramsim commented on #53
Yeah, currently most of the wrappers lack this method. This is because the `/encounters` endpoint was added at a later stage. I guess the only way for you is to make an HTTP call to the endpoint returned by `location_area_encounters`

[2020-05-15 13:27] leonardohra commented on #53
Thank you! I was afraid I would have to do that (I didn't want to have to do my own cache for the results of this method).

[2020-05-15 13:27] #53 closed

[2020-05-15 13:40] leonardohra opened #54 "System cannot move the file to different disk drive (Cache)"
I was trying to keep my cache in the same folder of my project, so I tried this:
client = pokepy.V2Client(cache='in_disk', cache_location='cache_pokepy')
The code works, but whenever I make a request
client.get_pokemon(10)
I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files\Python37\lib\site-packages\pokepy\api.py", line 272

[2020-05-15 13:41] Naramsim commented on #53
No need to cache it, do it only if you need a boost in speed.

[2020-05-15 18:36] Kronopt commented on #53
There are many pokepy methods that return URLs for some properties.
Last year I began working on a feature to make those properties return actual data.
I haven't had much time to work on it lately, though...

[2020-05-15 20:00] Kronopt commented on #54
Nice catch!
It's an issue with [fcache](https://github.com/tsroten/fcache), one of pokepy's dependencies.

I checked and there actually already is an open [issue](https://github.com/tsroten/fcache/issues/28) for this, so it's been reported.
Although, I don't think the maintainer is active at all...
I bumped the issue anyway. The fix is quite simple, actually.

I could fix this just for pokepy, but

[2020-05-15 20:04] #49 closed

[2020-05-31 15:40] Kronopt commented on #54
@leonardohra, can you please test the fix I made?
You can get the test release with pip:
[code]

[2020-05-31 15:56] leonardohra commented on #54
Sure, no problems!
I've uninstalled my pokepy
[code]

Then I've run the command you've said

[code]

Then I've run python interpreter on my cmd prompt and
[code]

Then I've got the following error:
[code]

Did I miss something?

[2020-06-01 09:15] Kronopt commented on #54
Sorry, I know what the problem is...
I'll fix it later in the day!

[2020-06-01 09:56] leonardohra commented on #54
No problems. I'll test again when its fixed.
Thanks!

[2020-06-01 20:34] Kronopt commented on #54
Hey!
Can you please test this one now:
[code]

Thanks! :)

[2020-06-02 04:56] leonardohra commented on #54
Sure.
I did the same thing I've done in my previous comment.
When I've imported pokepy there wasn't any errors and a cache folder was created successfully with 48 subfolders named 0 to 47.
I've used

[code]

As a test, and the cache file was created successfully.
For me the issue is solved. Thanks!
If you want you can "close" the issue (I don't know if I'm allowed to close it, or if there's someth

[2020-06-02 17:50] Kronopt commented on #54
Nice!
Thank you for taking the time to test this out! :)

I'll upload the new release to pypi in the following hours!

[2020-10-13 22:23] MaestroMaelstrom opened #62 "get_pokemon"
Hello,

hopefully this is helpful but it might be a simple mistake. I'm running through PyCharm for Windows.

Normally everything autofills for PyCharm which is true about the line pokepy.V2Client() but when I try to add .get_pokemon it highlights it and says, "Unresolved attribute reference 'get_pokemon' for class 'V2Client'" However the code does still run without errors.

![image](https://user-

[2020-10-13 23:57] Kronopt commented on #62
That's just because all 'get_' methods are generated when V2Client is instantiated.
So they don't actually exist when PyCharm tries to look for them.
I know those "unresolved references" don't look good on PyCharm, but if you follow the documentation it should be ok!
Any question feel free to ask them!

[2020-10-13 23:57] #62 closed

[2020-10-23 14:40] hellow554 opened #63 "How to deal with subresources"
e.g.

    pokepy.V2Client().get_generation(1).pokemon_species[0]

is a NamedApiResource which points to PokemonSpecies

I haven't figured out yet, how to get the data from that NamedApiResource. Is there an easy way, e.g. `get()`?

[2020-10-23 19:25] Kronopt commented on #63
At this moment you can't get that data directly with pokepy.

I was working on hypermedia resources a while ago to handle those kinds of situations, but I haven't had the time to work on it...
My work is on the [pagination](https://github.com/PokeAPI/pokepy/tree/pagination) branch, if you want to check it out

[2020-12-05 22:48] Kronopt opened #64 "pokepy rewrite"
Hey @Naramsim and @phalt,

I was thinking about rewriting pokepy.

My main motivation is to move away from `beckett`.
I could then implement both synchronous and asynchronous clients, using `requests` and `aiohttp` respectively.
The code base would be basically the same, with only the client implementation being different for sync/async.
This way I think I can make the code more easier to read and

[2020-12-06 14:43] Naramsim commented on #64
Hi @Kronopt,

I think you can go ahead and try a prototype, maybe preserving the same APIs.

What do you think about https://github.com/PokeAPI/pokebase? Because if you wanna move towards this repository, you could just use that one.

PS: I also think that both the PY wrappers should be able to query PokeAPI's root endpoints such as https://pokeapi.co/api/v2/machine/?offset=0&limit=200000

[2020-12-06 18:55] Kronopt commented on #64
Thanks for the answer, @Naramsim!
I'm going to create a new branch and start developing there, whenever I have the time 😄

I thought about messing with pokebase, but both projects would require some major overhauls. And since I'm not that familiar with pokebase, going with pokepy was the easiest solution for me.

As for the root endpoints,

That's what I meant with the "resource list method". It's

[2020-12-06 21:32] Naramsim commented on #64
Alright then :)

Go ahead whenever you want and take your time. See this as a learning experience.

Also, try to keep the module's APIs closer as much as possible to the ones already present. So people using the module won't have to change much in their code. Anyways, with the new code, we could release a major version so it's fine if some methods change.

[2020-12-07 05:18] C-Garza commented on #64
The pokebase wrapper does support root endpoints from what I can see. If you use something like:
[code]
then you can get access to the root endpoint. I noticed something though testing it out with your `/machine` root and noticed that it didn't work for it. It actually doesn't work for any root endpoints that have no `name` property for the objects. What I mean is, the root endpoint for `/machine`

[2020-12-08 00:59] phalt commented on #64
Happy to drop Beckett, it was an experiment for me and nothing more.

[2020-12-20 22:24] Kronopt opened #65 "Create response classes for every PokeAPI endpoint"
Every class should expect a `dict` with the http response as parsed by the json package, and then assign all available properties

[2020-12-20 22:27] Kronopt opened #66 "Create base client"
Base client should have all the base methods required by the sync and async clients

[2020-12-20 22:29] Kronopt opened #67 "Create sync client"
Sync client should use requests to make http requests to the PokeAPI and implement all get_* methods

[2020-12-20 22:30] Kronopt opened #68 "Create async client"
Async client should use aiohttp to perform requests to the PokeAPI and implement all get_* methods

[2020-12-20 22:33] Kronopt opened #69 "Implement list method / query root endpoints"
Querying a root endpoint of PokeAPI returns a list of resources available for that endpoint.
pokepy should handle that situation

[2020-12-20 22:34] Kronopt commented on #43
Use real responses (stored as json) for testing

[2020-12-20 22:35] Kronopt commented on #41
If this proves to be useful for someone, I might reopen this issue and take a look at it again

[2020-12-20 22:35] #41 closed

[2021-05-13 01:31] ojmaster opened #71 "Flavor text wrong language?"
So I’m trying to get the flavor text for a user inputted pokemon and I’ve got it working but I have 2 questions, some Pokémon’s flavor text are coming out in Japanese while others in English, I’ve noticed that everything past gen 5 isn’t in English, how do I set it to only display English and how do I choose what version.

[2021-05-13 18:35] Kronopt commented on #71
Hi,
The problem is most likely related with PokeAPI itself and not pokepy.
If that's the case, please do report the issue on the [PokeAPI ](https://github.com/PokeAPI/pokeapi) repo.

In any case, can give an example of what you're getting and how?

[2021-05-13 18:39] Kronopt commented on #71
Still, most flavour text entries are a list of [FlavorText](https://pokeapi.co/docs/v2#flavortext), so you should be able to iterate over the list and select the language you want.
That is, of course, if PokeAPI has the language you want available

[2021-05-13 18:53] ojmaster commented on #71
Yeah really I just need an example for how I can make sure I'm getting the first available flavor text that's in English. > Still, most flavour text entries are a list of [FlavorText](https://pokeapi.co/docs/v2#flavortext), so you should be able to iterate over the list and select the language you want.

[2021-05-13 22:32] Kronopt commented on #71
example:

[code]
[code]

[2021-05-14 00:43] ojmaster commented on #71
Thank you so much i feel like I should've known this but it's good to get help

[2021-05-15 08:10] ojmaster commented on #71
@Kronopt so I'm able to get the Pokémon's generation but then when I try to find the game version I get an error

Your code earlier worked great but its not returning the first possible games flavor text (ex. Bulbasaur return red's, arceus will return diamond's) but whenever I try to get the version it returns an error

[2021-05-15 08:17] ojmaster commented on #71
[code]
This is my code for getting the version group name but its returning that version_groups isnt a an attribute, yet yesterday when i was trying this it was workign fine, but now it isnt

[2021-05-15 08:22] ojmaster commented on #71
i also just tried to get the version from the flavor text and its returning that flavortextsubersource object ahas no attribute version

[2021-05-16 10:55] Naramsim commented on #71
Indeed the `version` is not accessible.

[code]

You can try this code @Kronopt. Is there another way to get the version?

[2021-05-16 11:03] Naramsim commented on #71
Ok, the `FlavorTextSubResource` didn't have the `version` sub-property. I added it in the `master` branch. Now we need to publish.

This code should be working with the new version

[code]

[2021-05-16 11:15] Naramsim commented on #71
I've published 0.6.2

https://pypi.org/project/pokepy/0.6.2/

Can you try it? @ojmaster

[2021-05-16 16:58] Kronopt commented on #71
I guess I forgot to add the `version` property to the `FlavorTextSubResource`... that is my bad! Good catch @Naramsim!

[2021-05-17 03:57] ojmaster commented on #71
It works now thank you @Naramsim

[2021-05-17 04:02] ojmaster commented on #71
How would I get the games a Pokémon is introduced in. Also  I think version_groups doesn't have subattribute version either

[2021-05-17 04:06] ojmaster commented on #71
I can just make a check using the Pokémon's ID but I was wondering if you could determine that directly from the Pokémon's name

[2021-05-17 06:01] ojmaster commented on #71
I have already gotten a way to find the games a certain Pokémon was introduced in just was wondering if there was a way to do ```get_pokemon_species(pokemon).version_groups[0].version.name```
Because it seems faster

[2021-05-17 06:02] ojmaster commented on #71
For this it says version is not an available subresource

[2021-05-17 07:16] Naramsim commented on #71
To find out when a pokemon was released you can use the `pokemon-species` endpoint and then look at the `generation` property.

https://pokeapi.co/api/v2/pokemon-species/spectrier

[2021-05-17 07:37] ojmaster commented on #71
Thank you 👍

[2021-05-25 01:24] hands8142 opened #72 "An error has occurred."
If you use this in Heroku, it will cause an error.

[code]

[2021-05-25 09:16] Naramsim commented on #72
Can you post a simple example of code that triggers that error?

[2021-05-25 23:48] hands8142 commented on #72
https://github.com/hands8142/manyy_api/blob/938499ce8492cff3046a18bd1ba6d3b0d231c653/main.py#L206

I'm turning this around to Heroku. There is no error when I turn it to my local computer, but when I turn it to Heroku, an error occurs.

[2021-05-26 22:17] Kronopt commented on #72
Can you specify both your environments?
Your local environment and heroku. Like, OS, python version, pokepy version, etc

[2021-05-26 22:23] Kronopt commented on #72
Ah, I see your problem:

[code]

should be
[code]

hence the "not subscriptable" error.
You're probably using an older version of pokepy on heroku

[2021-05-26 22:23] #72 closed

[2021-05-27 21:18] #71 closed

[2021-08-16 11:02] DrAlta opened #74 "example doesn't work"
[code]

[2021-08-16 11:11] C-Garza commented on #74
It looks like you typed `polepy` instead of `pokepy`, is that your issue?
`mew = polepy.V2Client().get_pokemon('mew')`

[2021-08-16 13:25] Kronopt commented on #74
Hello @DrAlta.
Pokepy doesn't explicitly support python 3.9 (yet), as @C-Garza mentioned.
Still I tried it myself (on python 3.9.2) and it did work correctly.
[code]

Can you confirm you're using the latest version of pokepy?

[2021-08-21 11:09] DrAlta commented on #74
Hi @Kronopt
It looks like  "pip install pokepy" gave me version  0.4.0  I ended up just using
`def get_pokemon(pokemon):
    cachefile = "cache/pokemon/" + pokemon + ".json"
    if path.exists(cachefile):
        with open(cachefile, 'r') as pokefile:
            return(json.load(cachefile))
    else:
        r = requests.get('https://pokeapi.co/api/v2/pokemon/' + pokemon)
        if r.status_code

[2021-08-21 19:50] Kronopt commented on #74
Installing through `pip install pokepy` should have given you the latest version.

If you think your code is better for your needs, that's cool! No hard feelings :)
You're always free to suggest new features, though!

And you don't need to reverse engineer pokepy to understand how it works, we have a [documentation for that](https://pokeapi.github.io/pokepy).
And you can always leave suggestions o

[2021-08-21 19:50] #74 closed

[2021-11-05 06:34] dsambrano opened #75 "Issue Setting up a cache"
The API works great, unfortunately while setting up caching there I consistently get this error:
[code]

[2021-11-05 10:22] Kronopt commented on #75
Hey @dsambrano,

latest version of pokepy is 0.6.2. Try using the latest version and see if your issues are addressed

[2021-11-06 00:26] dsambrano commented on #75
Thanks you the advice. Unfortunately, I get a Resolution Error when trying to install that specific version (or anything about .0.6 for that matter)

Namely because the beckett 0.8 dependency requires verions 2.10.0 of requests and pokepy (0.6.2) requires version 2.21 of requests.

[code]

[2021-11-06 02:57] Kronopt commented on #75
Damn... this wasn't a problem some versions of pip ago...
Well, I guess pokepy is broken until I can manage to deprecate beckett...

You could checkout [pokebase](https://github.com/PokeAPI/pokebase)

[2021-11-06 18:52] Naramsim commented on #75
Maybe @Kronopt you could just submit a PR over at `beckett` updating the requirements.

[2021-11-08 19:56] Kronopt commented on #75
I could, but It would probably just go unmerged.
Phalt has already [mentioned](https://github.com/PokeAPI/pokepy/issues/52#issuecomment-599322764) that he is no longer working on beckett, so I'd rather not propose any new changes

[2021-11-09 09:39] Naramsim commented on #75
One could fork it, update the deps and push a new package. I can do it, or you can do it (if you feel maintaining the new package).

[2021-11-09 17:38] Kronopt commented on #75
I don't feel like maintaining that new package as I'm already working on another one to replace it.
Feel free to do it if you want to, though

[2021-11-28 15:41] lqleuw opened #76 "404 Error handle"
Hi, first of all, it works great. But I'm curious: what would be the best way to handle 404 error when using `.get_pokemon`?
I have tried `requests.get("https://pokeapi.co/api/v2/pokemon")` and do ` except requests.HTTPError` but it seems that it's not a solution. The only way it could work is to use nested `try-except` but I don't think that's a good approach.
I also try to look in the documentat

[2021-11-28 17:46] Kronopt commented on #76
Currently, the exception raised when a 404 is received is:
`beckett.exceptions.InvalidStatusCodeError: Received status code: 404, expected: (200, 201, 204)`

You could do:
[code]

[2021-11-28 22:42] lqleuw commented on #76
Thank you, I have read through [beckett](https://phalt.github.io/beckett/advanced/) documentation and I manage to make it work.

[2021-11-28 22:42] #76 closed

[2022-04-02 09:35] GunnerStone commented on #75
Did this ever get fixed? Still running into same issue

[2022-04-02 22:24] Kronopt commented on #75
Not yet

[2022-06-01 07:19] Phoenix0708 opened #78 "Issue with the API"
i cant get to access the API even when my code is correct

it says list has no attribute weight/height/sprites/name

[code]

[2022-06-01 07:53] Phoenix0708 commented on #78
@Kronopt Please look into this

[2022-06-01 10:38] Phoenix0708 opened #79 "Installation issue"
Whenever i try to install the wrapper it install 0.4.2 version instead of latest version and whenever i try using it in repl and install it does not install

[2022-06-01 21:13] Kronopt commented on #79
see #75

[2022-06-01 21:18] Kronopt commented on #78
Please provide more context.
Did you get an error? If so, what's the stack trace?
Which version of python are you using? And version of pokepy?
Linux? Windows?

Also, I'm a volunteer (as all devs here), so asking nicely for a solution goes a long way to have your problem fixed.

Pokepy is currently on standby. Please check out [pokebase](https://github.com/PokeAPI/pokebase)

[2022-06-03 12:35] Phoenix0708 commented on #78
Actually pokepy 0.6 depends on requests 2.21 but beckett depends on requests 2.10 so to resolve this pip was installing the 0.4.2 version of pokepy which returns list but i resolved it with pip install --no-deps pokepy etc thank you and can u give more docs on sprites/official-artwork since i have a problem getting official-artwork pics using pokebase

[2022-06-03 16:45] #78 closed

[2022-07-13 18:24] alessiocelentano opened #80 "Missing learned_by_pokemon subresource"
Hi, first of all thanks for your work!

I needed the `learned_by_pokemon` subresource of `MoveResource` and I wasn't able to get it, so i checked the code and it seems like it's the only missing subresource. Maybe it's a recent addition, anyway can be implemented?

[2022-10-14 08:19] #80 closed

[2022-11-17 22:48] Glowing0v3rlord commented on #75
Has this been fixed yet?